* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 0 80px 0;
  gap: 200px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-links > ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 90px;
  align-items: center;
}

.hero-text {
  width: 300px;
}

.hero-img > img {
  width: 300px;
}

button {
  padding: 6px 20px;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 5px;
}

.hero-text > p {
  padding: 10px 0;
}

.card-only {
  border: #3882f6 solid 3px;
  width: 150px;
  height: 150px;
  margin: 15px;
  border-radius: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 50px;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.card-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.quote-placement {
  background-color: #e5e7eb;
  padding: 80px;
  text-align: right;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.quote-placement > p {
    font-size: 36px;
    font-weight: 250;
    color: #1f2937;
    font-style: italic;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.cta-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 5px;
    color: #f9faf8;
}
button.signup {
    border: #f9faf8 2px solid;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

footer > p {
    padding: 20px;
}
